.markdown-content {
  font-size: 12pt;
}

.markdown-content > h1 {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 5px;
}

.markdown-content h2 {
  font-size: 16pt;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.markdown-content h3,
h4,
h5,
h6 {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.markdown-content a {
  text-decoration: underline;
}

.markdown-content code {
  background-color: rgba(175, 184, 193, 0.2);
  padding: 2px;
  border-radius: 5px;
}

.markdown-content pre {
  background-color: rgba(175, 184, 193, 0.2);
  padding: 24px;
  margin-bottom: 10px;
}

.markdown-content pre > code {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
}

.markdown-content p {
  line-height: 1.2rem;
}

.markdown-content p:not(:last-child) {
  padding-bottom: 10px;
}

.markdown-content ul {
  padding-left: 16px;
  margin-bottom: 10px;
}

.markdown-content img {
  margin-top: 16px;
  margin-bottom: 16px;
}
